.page {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: grid;
  gap: 60px;
  grid-template-columns: 320px 844px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-self: center;
}
