.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 480px;
}

.bottomWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 16px;
}

.itemWrapper {
  display: flex;
  gap: 8px;
}

.question {
  color: #8585ad;
}

.link {
  color: #4c4cff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.link:hover {
  opacity: 50%;
}

.error {
  color: red;
}
