.portal {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
}

.opened {
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 40px 0 40px;
}
.close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close:hover {
  opacity: 0.6;
  transition: opacity 0.2s;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 64px;
}
