.container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.priceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.link {
  all: unset;
}
