.item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-height: 80px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
  list-style: none;
}
.targethover {
  box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
    0px 0px 8px 8px rgba(51, 51, 255, 0.25);
  filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
  border-radius: 40px;
}
