.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
}
.constructorWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  border-radius: 40px;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  max-height: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #8585ad #2f2f37;
  list-style: none;
}

.container::-webkit-scrollbar {
  height: 464px;
  width: 8px;
  background-color: #2f2f37;
}

.container::-webkit-scrollbar-thumb {
  background: #8585ad;
}
.wrapper::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 10px;
}
.order {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.placeholder {
  align-self: center;
  justify-self: center;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}

.empty {
  justify-content: center;
  align-items: center;
}

.targethover {
  box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
    0px 0px 8px 8px rgba(51, 51, 255, 0.25);
  filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
  border-radius: 40px;
}
